---
layout: page
type: article
show_date: false
---

{%- include snippets/assign.html
  target = site.data.variables.default.page.sharing
  source0=layout.sharing source1=page.sharing -%}
{%- assign _sharing = __return -%}

<div class="layout--article">
  {%- include article/top/custom.html -%}

  <div class="mt-5"></div>

  {%- if page.source -%}
  <video width="100%" controls>
    <source src="{{ page.source }}" type="video/mp4">
  </video>
  {%- endif -%}

  <div class="mt-5"></div>

  {%- if page.description -%}
      {{ page.description }}
  {%- endif -%}


  <div class="article__content" itemprop="articleBody">{{ content }}</div>

  {%- if _sharing -%}
    <section class="article__sharing d-print-none">{%- include sharing.html -%}</section>
  {%- endif -%}

  <div class="d-print-none">
    {%- include article-footer.html -%}
    {%- include article-section-navigator.html -%}
  </div>

</div>

<script>
  {%- include scripts/article.js -%}
</script>
